.paraWelcome{
margin: 1% 1%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;


color: #000000;

} 
.bottle{

  
    
  margin-left: 15%;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30.5px;


} 
.paraBottle{

   
margin: 10% 2%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
} 
.paraActions

{
    margin: 10% 20%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
} 
.buttonAction
{
margin: 2% ;
width: 80%;
height: 75px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30.5px;
}
.buttonA{
 
margin-left:18%;
height: 50%;}
.imgbottle{
 
margin:10%;
width:80%;
height: 80%;
}


    .action{
        width: 100%;
        height: 20%;

    }
    .para1837{
        font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;
/* identical to box height */


color: #000000;

    }
    .paraBottle
    {font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;}
    .paramargin{
        margin-top:10%;

    }
    .paraBottleMargin{
       
        padding-top: 10%;

    }