.progressUpdate .paraUpdate{

    margin: 2% 2%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 52px;
      /* identical to box height */
      
      
      color: #ffff;     
  
  }
  .progressUpdate  .parafont
    {
        /* < Back */
     
      
     
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 33px;
     
     color: #ffff;
     margin: auto 2%;
    }
     
    .progressUpdate .divInput{



background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30.5px;
margin:2%;
padding:2%;
width:80%

    }
    .progressUpdate .paraBottle{



        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        
        color: #000000;
        
            }
            .progressUpdate .paraTime{



                font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;;
line-height: 52px;
/* identical to box height */


color: #000000;
                    }