.redemption {
    margin: 0% 4% !important;
    }
.redemption .title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #ffffffff;
}
.redemption .divExport {
    position: relative;
    float:right;
    display: block;
      /* width: 500px; */
      text-align: right;
      max-width: 100%;
      margin-top: -1%;
      background-color:#0d151f ;
    
    } 

    .redemption .divExport .styleExport{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
text-align: center;
margin-top: 27%;
color: #ffffff;
}
.redemption .divExport .styleLogo{

}
.redemption .buttonActive{
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30.5px;
    padding: 1%;
    font-size: 25px;
    justify-content: space-between;
}
.redemption .buttonRedeemed{
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30.5px; 
    padding: 1%;
    font-size: 25px;
}
.redemption .RadioButton{
    margin: 16px 0;



    
}