.pageInvitation {
    margin: auto;
    width: 70%;
    /*border: 5px solid #FFFF00;*/
    padding: 10px;
    }
.pageInvitation .title{
    /* width: 30%;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px; */
    text-align: center;
   color:#FFFFFF;
    font-family: "Libre Franklin",sans-serif;
    margin-bottom: 30px;
    text-transform: capitalize;
    margin-top: 2%;
}
.pageInvitation .paragraph p{
    font-family: "Libre Franklin",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color:#FFFFFF;
}
.pageInvitation .divInput {
    width: 50%;
    height: 100%;
    margin: 10% auto;
    
}
.pageInvitation .divInput .inputEmail  {
    width: 100%;
   
    background: #FFFFFF;
    border: 1px solid #965fd7;
    box-sizing: border-box;
    border-radius: 30.5px;
    text-align: center;
   
}
   
.pageInvitation .divButton {
    width: 20%;
    margin: 10% auto;
    text-align: center;
}
.pageInvitation .divButton button{
    box-sizing: border-box;
    border-radius: 30.5px;
    border: 1px solid #000;
    width: 100%; 
    height: 100%;
    background-color:#248fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    padding: 4%;
}