
.custom-line{
    min-height: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
   /* background-color: RGBa(60,240,160,0.7); /*Vert*/
   
}
.custom-line > .col-3, .custom-line > .col-4{
  /*  background-color: RGBa(60,120,240,0.7); Bleu*/
  background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30.5px;
padding: 5%;
}
.custom-line > .col-3 p, .custom-line > .col-4 p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;
/* identical to box height */

text-align: center;

color: #000000;
}