.updateStatus {
    margin: 2% 2%;
    }
.updateStatus .title{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;
/* identical to box height */


color: #000000;
}
.updateStatus .formUpdate{
    margin: auto;
    width: 80%;
    border: solid red;
}
.updateStatus .input1{
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30.5px;
padding: 2%;
width: 30%;
}
.updateStatus .input2{
    width: 100%;
    background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30.5px;
    }