.WithdrawNFT .paraWithdraw{
    margin: 2% 2%;
   
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #fff;
    } 

    .parafont
    {
        /* < Back */
     
      
    
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 33px;
     
     color: #fff;
     
     }
    .labelBack {
        margin: 5% 7%;

    }


.container {  
    width: 25% !important;
    height:25% !important; 

    position: relative;
    }  
   
.buttonWithdraw{
   /* Withdraw */
   width: 100% !important;
    height:100% !important; 
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color:#248fff;
   border: 2px solid #000000;
   box-sizing: border-box;
   border-radius: 30.5px;



}