.WithdrawNFT .paraWithdraw{
    margin: 1% 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #000000;
    } 

    .parafont
    {
        /* < Back */
     
      
     
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 33px;
     
     color: #000000;
     
     }
    .labelBack {
        margin: 5% 4%;

    }

.paraSteps {
  
  padding: 5% 2%;

}
.buttonWithdraw{
   /* Withdraw */
   width: 25%;
height:15%;
left: 604px;
top: 773px;

   background: #FFFFFF;
   border: 2px solid #000000;
   box-sizing: border-box;
   border-radius: 30.5px;



}