

.bottleCardComponent {
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.bottleCardComponent .bottleCardHeader {
    text-align: center;
}

.bottleCardComponent .bottleCardHeader .imgbottle {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.bottleCardComponent .bottleCardBody {
    text-align: center;
}

.bottleCardComponent .bottleCardTitle {
    font-size: 24px;
}

.bottleCardComponent .bottleNumber {
    margin: 0;
    font-size: 16px;
}

.bottleCardComponent .viewButton {
    background: #0d151f;
    color: white !important;
    box-shadow: none !important;
    margin-top: 10px;
}


.bottleCardComponent .bottleCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottleCardComponent .actionButton {
    width: 48%;
    text-align: center;
    font-size: 16px;
    color: white;
    box-shadow: none !important;
}

.bottleCardComponent .actionButton:first-child {
    background: #2281e3;
    
}
.bottleCardComponent .actionButton:last-child {
    background: rebeccapurple;
}