.header .logo {
background-color:#C4C4C4 ;
width:25%;
margin:2% 2%;
height:99px;
padding: 2% 2%;
} 
.paraLogo{

    text-align: center;
} 
.buttonConnect{
    position: absolute;
    width: 25%;
    height: 61px;
    left: 72%;
    top: 6%;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30.5px;

} 