.fb {
  background-color: #3b5998 !important;
  color: #fff !important;
  padding: 0px 15px !important;
}
.tweet {
  background-color: #55acee !important;
  color: #fff !important;
  padding: 0px 15px !important;
}
/* .imgItem {
  scroll-behavior: unset;
  width: 100% !important;
  max-width: 100%;
  display: block !important;
  height: 100%;
}
.assetPhoto {
  height: 100% !important;
}
.imgItem > html > body {
  width: 100% !important;
  height: 100% !important;
} */

/* body {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
} */
