.ModalWaiting .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: var(--gray_color);
    cursor: pointer;
  }
  
  .ModalWaiting .modalTitle {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .ModalWaiting .message {
    font-size: 19px;
    text-align: center;
    color: var(--text_color);
    margin: 25px 0;
  }