.ModalWaiting .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: var(--gray_color);
    cursor: pointer;
}

.ModalWaiting .modalTitle {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.ModalWaiting .message {
    font-size: 19px;
    text-align: center;
    color: var(--text_color);
    margin: 25px 0;
}

.ModalNetworkNotSupported {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-primary:disabled,
.btn-primary.disabled {
    font-size: xxx-large;
}

.loadingModal {
    width: 300px;
    height: 250px;
}

.class1 .loadingStyle {
    margin-top: 13px;
    font-size: 20px;
}

.class1 .spinnerClass {
    color: blue !important;
    width: 35px !important;
    height: 35px !important;
}