.btnItem {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  background-color: gray !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 15px auto;
}


.ajouter {
  margin-top: 20px !important;
}
em {
  color: red;
}
.uploadFile {
  color: transparent !important;
}
.filePhoto {
  background-color: #222227 !important;
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  height: 46px !important;
  position: relative !important;
  color: #fff !important;
  font-size: 16px !important;
  width: 100% !important;
  padding: 0 20px !important;
  font-family: "Inter", sans-serif !important;
}
#file-upload-button {
  background-color: #222227 !important;
}
.modalLoadingModal {
background: none;
}

.btn-primary:disabled,
.btn-primary.disabled {
  font-size: xxx-large;
}
.class1 {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ModalNetworkNotSupported {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-primary:disabled,
.btn-primary.disabled {
  font-size: xxx-large;
}

.loadingModal {
  width: 300px;
  height: 250px;
}

.class1 .loadingStyle {
  margin-top: 13px;
  font-size: 20px;
}

.class1 .spinnerClass {
  color: blue !important;
  width: 35px !important;
  height: 35px !important;
}
.class1 .modal-content{
align-items: center;
padding: 2%;
}