.btnSignup {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  background-color: gray !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 15px auto;
}
body {
  background-color: #16151a !important;
  margin-top: 5% !important;
}
h2 {
  color: blue;
  margin-bottom: 15% !important;
}
.eth {
  color: gray;
}
